.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d2d7e1;
    color: black;
}

.wrap-main{
    max-width: 1250px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.title-main{
    padding: 150px 0 100px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
}

.voice-container{
    width: 90%;
    gap:33px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voice-settings{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-settings{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.lg-set{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    gap:10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Для Safari и старых версий Chrome */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none;
}
.lg-set,.speed-set:hover{
    border: 1px solid #bab9b9;
}

.icon-s{
    padding-left:2px ;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-s img{
    max-width: 100%;
}

.name-s{
    text-align: center;
    font-size: 18px;
    max-width: 200px;
    font-family: 'Mulish', serif;
}

.btn-s{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


.right-settings{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: end;
}

.speed-set{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid black;
    gap:10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Для Safari и старых версий Chrome */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none;
}

.text-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.textbox{
    width: 100%;
    height: 320px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;

}
.clear-input{
    width: 98%;
    padding-bottom: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap:10px;
}
.btn-clear{
    cursor: pointer;
}

.btn-clear:hover{
    opacity: 0.7;
}
.count-symbol{
    font-family: 'Mulish', serif;
    width: 100%;
    display: flex;
    justify-content: end;
}
.voice-actions{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap:200px;
    padding-bottom: 120px;
}
.btn-sub{
    width: 180px;
    height: 50px;
    background: rgb(57, 81, 202);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    font-family: 'Mulish', serif;
}
.btn-sub:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}
.btn-sub:hover{
    background-color: rgb(27, 47, 152);
}

.icon-btn-sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.icon-btn-sub img{
    max-width: 100%;
}

.wrap-btn-save{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:25px;
}

.format{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #808080;
    font-family: 'Mulish', serif;
    font-size: 18px;
    cursor: pointer;
}
.btn-s2{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
}

.wrap-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrap-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none; /* Для Safari и старых версий Chrome */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none;
}

.load-file{
    width: 120px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    border-radius: 5px;
    border: 1px solid #039BE5;
}

.load-file:hover{
    opacity: 0.7;
}
.icon-btn-load{
    width: 18px;
    height: 18px;
}
.icon-btn-load img{
    max-width: 100%;
}
.text-btn-load{
    font-size: 14px;
    color: #039BE5;
    font-family: 'Mulish', serif;
}

.error-line{
    width: 100%;
    height: 5px;
    color: red;
    padding-left: 2px;
    font-size: 16px;
    font-family: 'Mulish', serif;
}

.voice-panel{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.audioPlayer{
    width: 50%;
    color-scheme: white;
}
/*audio::-webkit-media-controls-download-button {*/
/*    -webkit-appearance: none;*/
/*    display: none;*/
/*}*/