.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d2d7e1;
    color: black;
}

.wrap-main{
    width: 1250px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.title-main{
    padding: 150px 0 100px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
}

.voice-container{
    width: 90%;
    gap:33px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voice-settings{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-settings{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.lg-set{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    gap:10px
}
.icon-s{
    width: 40px;
    height: 30px;
}
.icon-s img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.name-s{
    text-align: center;
    font-size: 18px;
    padding-right: 5px;
    font-family: 'Mulish', serif;
}

.btn-s{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.btn-s:hover{
    .btn-s-R {
        color:gray;
    }
}

.right-settings{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: end;
}

.speed-set{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid black;
    gap:10px
}

.text-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.textbox{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;

}
.clear-input{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.clear-input:hover{
    .btn-clear{
        color: grey;
    }
}
.count-symbol{
    font-family: 'Mulish', serif;
    width: 100%;
    display: flex;
    justify-content: end;
}
.voice-actions{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap:200px;
}
.btn-sub{
    width: 180px;
    height: 50px;
    background: rgb(57, 81, 202);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    font-family: 'Mulish', serif;
}

.btn-sub:hover{
    background-color: rgb(27, 47, 152);
}

.icon-btn-sub{
    width: 40px;
    height: 40px;
}
.icon-btn-sub img{
    max-width: 100%;
}

.wrap-btn-save{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:25px;
}

.format{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #808080;
    font-family: 'Mulish', serif;
    font-size: 18px;
}
.btn-s2{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
}
.btn-s2:hover{
    .btn-s-R{
        color:gray;
    }
}
