.header{
    position: absolute;
    font-family: 'Mulish';
    width: 100%;
    height: 80px;
    background-color: #039BE5;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
}
.wrap-header{
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-logo{
    width: 65px;
    height: 65px;
}

.wrap-logo img{
    background: none;
    max-width: 100%;
    border-radius: 20px;
}
.wrap-select-lg{
    width: 157px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-lg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

}
.img-lg img{
    max-width: 100%;
}

.name-lg{
    margin-left: 7px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.select-lg-bt{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.seleclt-icons{
    max-width: 100%;
    color: white;
}
.seleclt-icons:hover{
    color: black;
}

.select-lg{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    flex-direction: column;
}

.window-choice{
    position: absolute;
    width: 160px;
    height: 70px;
    background: #E6EEF2;
    top:35px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.wrap-select-lg-c{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.name-lg-c{
    margin-left: 7px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.wrap-but-info{
    width: 150px;
    height: 100%;
    font-size: 18px;
    font-family: 'Mulish';
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: rgb(57, 81, 202);
}
.info:hover{
    background: #035de5;
}